a.nav-link.active(aria-current='page' href='../src/index') INICIO
a.nav-link(href='../src/contact') CONTACTANOS
a.nav-link(href='../src/about') NOSOTROS
a.nav-link(href='../src/products') PRODUCTOS
a.nav-link(href='../src/services') SERVICIOS
a.nav-link(href='../src/articles') ARTICULOS