nav.navbar.navbar-expand-lg.bg-light.sticky-top(style="height: 100px;")
  .container-fluid.bg-light
    a.navbar-brand(href='#')
      include logo.pug
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
      .navbar-nav
        include nav-links.pug